body {
    background: url(assets/img/brasil.png);
    min-height: 100vh;
}   

.container-quiz{
    flex-direction: column;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 350px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    gap:1rem;
    text-align: center;
}
.container-quiz div{
    width: 80%;
    height: 50px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s;
}
.container-quiz div h1{
    display: flex;
    align-items: center;
}
.container-quiz div:has(input[type="radio"]:checked){
    background-color: rgb(173, 247, 0);
}
.container-quiz div:has(input[type="radio"]:hover){
    scale: 1.2;
    transition: 0.5s;
}
.container-quiz div input[type="radio"]{
    position: absolute;
    background-color: wheat;
    width: 300px;
    margin: 0;
    height: 70px;
    transform: translateX(-10px) translateY(-10px);
    opacity:0;
}