@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: "Madimi One";
}
body {
    background: url(assets/img/7620770.png);
    background-size: cover;
    background-position-y: -185px;
    background-position-x: 5px;
}   
button{
    font-family: "Krona One";
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: #12971b;
    display: flex;
    align-items: center;
    touch-action: manipulation;
    box-shadow: #000000 3px 3px 0 0;
    transition: 0.7s;
}
button:hover{
    scale: 1.1;
    transition: 0.7s;
}
button:active{
    box-shadow: #000000 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.container-quiz{
    flex-direction: column;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 350px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    gap:1rem;
    text-align: center;
    margin-top: 45px;
}
.container-quiz div{
    width: 80%;
    height: 50px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s;
}
.container-quiz div h1{
    display: flex;
    align-items: center;
}
.container-quiz div:has(input[type="radio"]:checked){
    background-color: rgb(22, 153, 17);
}
.container-quiz div:has(input[type="radio"]:hover){
    scale: 1.2;
    transition: 0.5s;
}
.container-quiz div input[type="radio"]{
    position: absolute;
    background-color: wheat;
    width: 300px;
    margin: 0;
    height: 70px;
    transform: translateX(-10px) translateY(-10px);
    opacity:0;
}
