@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
}
a{
   text-decoration: none;
}
:root{

    --cor-primaria: #05740D;
    --cor-secundaria: #d3dfeb;
    --cor-terciaria: #f8ecd4;
    --cor-hover: black;

    --fonte-primaria: "Krona One", sans-serif, verdana;
    --fonte-secundaria: "Madimi One", sans-serif, verdana;

}
body{
   background-image: url(../img/cristo_redentor_2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 95vh;
   display: flex;
   flex-direction: column;
}


.cabecalho_menu{
   display: flex;
   gap: 80px;
   align-items: baseline;
   margin-top: 20px;
}

.cabecalho_menu_link{
   font-family: var(--fonte-secundaria);
   font-size: 24px;
   font-weight: 600;
   color: var(--cor-terciaria);
   padding: 8px 50px;
   text-decoration: none;
   transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

li:hover .cabecalho_menu_link{
   transform: rotate(360deg);
}

nav h1{
   font-family: var(--fonte-secundaria);
   color: var(--cor-terciaria);
   font-size: 40px;
}

.menu li{
   padding: 5px 14px;
}
.menu li a img{
   width: 75px;
   border-radius: 100px;
}
.menu li a{
   flex-wrap: nowrap;
   font-size: 2rem;
   display: flex;
   gap:2rem;
   align-items: center;
}

input[type=checkbox]{
   display: none;}

.hamburger{
   display: none;
   font-size: 24px;
   user-select: none;
   transition: 0.5s ease-out;
   scale: 1.5;
}
.hamburger:hover, .hamburger:focus{
   scale: 1.8;
}
ul:has(input:checked) .hamburger{
   rotate:360deg;
}
.menu{
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   width: 300px;
   position: absolute;
   flex-direction: column;
   box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
   left: 0;
   top: 7.1%;
   text-align: right;
   padding: 16px 0;
   margin-top: 50px;
   margin-left: auto;
   z-index: 1;
   transform: translateX(-200%);
   transition: transform 0.5s ease-out;
   display: flex;
   gap: 2em;
   font-size: 18px;
   overflow: hidden;
   backdrop-filter: blur(10px);
   background-color: #05740c70;
}
.menu li:hover{
   background-color: #EED107;
   display: inline-block;
   transition: 0.3 ease;
}

.menu li + li {
   margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
   transform: translateX(0%);
}
.hamburger{
   display: block;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
   transform: translateX(0);
}

input[type=checkbox] {
   transition: all 0.3s;
   box-sizing: border-box;
   display: none;
}
.sidebarIconToggle {
   transition: all 0.3s;
   box-sizing: border-box;
   cursor: pointer;
   z-index: 99;
   height: 100%;
   width: 100%;
   top: 22px;
   left: 15px;
   height: 22px;
   width: 22px;
}
.spinner {
   transition: all 0.3s;
   box-sizing: border-box;
   position: absolute;
   height: 3px;
   width: 100%;
   background-color: #ffffff;
}
.horizontal {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
}
.diagonal.part-1 {
   position: relative;
   transition: all 0.3s;
   box-sizing: border-box;
   float: left;
}
.diagonal.part-2 {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
   transition: all 0.3s;
   box-sizing: border-box;
   opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
   transition: all 0.3s;
   box-sizing: border-box;
   transform: rotate(135deg);
   margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
   transition: all 0.3s;
   box-sizing: border-box;
   transform: rotate(-135deg);
   margin-top: -9px;
}

/* BOTAO DE JOGAR */

form{
   display: flex;
   flex-direction: column;
   width: 1000px;
   margin-top: auto;
   margin-left:30px
}

form button{
   aspect-ratio: 8/1;
   font-size: 2rem;
   width: 500px;
}
form label{
   color:rgb(255, 255, 255);
   font-size:2.5rem;
   font-family: var(--fonte-secundaria);
   margin-right: 5px;
}
form input{
   aspect-ratio: 10/1;
   font-size:2.5rem;
   border-radius: 15px;
   box-shadow: black 0 0 10px 1px;
   flex-grow: 1;
   font-family: var(--fonte-secundaria);
   padding: 0 10px;
   border: none;
}
button{
   background-color: #12971b; 
   border-radius: 30px;
   display: flex;
   align-items: center;
   touch-action: manipulation;
   justify-content: center;
   border: none;
   padding: 10px;
   box-shadow: black 0 10px 0 0;
   transform: translateY(-10px);
   margin-top: 10px;
   transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1),
               box-shadow 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover{
   transform: translateY(-5px);
   box-shadow: black 0 5px 0 0;
}
button:active{
   transform: translateY(-0px);
   box-shadow: black 0 0px 0 0;
}
strong{
   text-align: center;
   font-family: var(--fonte-secundaria);
   font-size: 2rem;
   color:rgb(0, 0, 0);
}
.f{
   display: flex;
   flex-direction: row;
}