@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: "Madimi One";
    margin:0;
}
body {
    background: url(../img/7620770.png);
    background-size: cover;
}
header{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
header p{
    font-size: 1.5rem;
}
header h3{
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: crimson;
}
button{
    font-family: "Krona One";
    font-size: 2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    touch-action: manipulation;
    border: none;
    padding: 10px;
    color:whitesmoke;
    box-shadow: black 0 10px 0 0;
    transform: translateY(-10px);
    margin-top: 10px;
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1),
                box-shadow 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
body:has(h3.um) button:not(button.repassar){
    background-color: #12971b;
}
body:has(h3.is) button:not(button.repassar){
    background-color: #0C2373;
}
body:has(h3.is) button.repassar{
    background-color: #12971b;
}
body:has(h3.um) button.repassar{
    background-color: #0C2373;
}

button[disabled]{
    background-color: gray !important;
    color:lightgray;
}
button:hover:not(button[disabled]){
    transform: translateY(-5px);
    box-shadow: black 0 5px 0 0;
}
button:active:not(button[disabled]){
    transform: translateY(-0px);
    box-shadow: black 0 0px 0 0;
}

.container-quiz{
    flex-direction: column;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 350px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    gap:1rem;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}
.container-quiz form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.container-quiz div{
    width: 80%;
    height: 50px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: background-color 0.25s cubic-bezier(0.19, 1, 0.22, 1),
                color 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.container-quiz div h1{
    display: flex;
    align-items: center;
}
body:has(h3.um) .container-quiz div:has(input[type="radio"]:checked){
    background-color:#12971b;
    color:whitesmoke;
}
body:has(h3.is) .container-quiz div:has(input[type="radio"]:checked){
    background-color: #0C2373;
    color:whitesmoke;
}
.container-quiz div:has(input[type="radio"]:hover), .container-quiz div:has(input[type="radio"]:focus){
    scale: 1.05;
}
.container-quiz div input[type="radio"]{
    position: absolute;
    background-color: wheat;
    width: 300px;
    margin: 0;
    height: 70px;
    transform: translateX(-10px) translateY(-10px);
    opacity:0;
}
h2{
    display: none;
    background-color: whitesmoke;
    font-size: 2rem;
    animation: fade-out;
    width: fit-content;
    padding: 10px;
    margin:10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    align-items: center;
    justify-content: center;
    animation: fade-out 2s cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
}
h2.um{
    color: #12971b;
    display: flex;
}
h2.is{
    color:#0C2373;
    display: flex;
}
@keyframes fade-out {
    0%{opacity:1}
    50%{opacity: 1;}
    80%{opacity:0; font-size:2rem; margin: 10px auto}
    100%{opacity:0; font-size: 0rem; margin: 0px auto;}
}
.time{
    background-color: whitesmoke;
    aspect-ratio: 4/1;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 0 5px 0 black;
    padding: 7px;
    border-radius: 10px;
    color:whitesmoke;
}
.time.um{
    background-color:rgb(22, 153, 17);
}
.time.is{
    background-color: #0C2373;
}